html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/*background-color:#34495e;*/
}

.title-font {
	font-family: 'Francois One', sans-serif;
	font-variant: small-caps;
	font-size: 1.2em;
}

.smaller {
	font-size: 0.8em!important;
}
main#content {
	height: 100%;
	margin-top: 1%;
	z-index: 0;
}

nav#header {
	z-index: 1;
	background-color: #fff;
	border-bottom: 1px solid rgba(52,73,94, 0.5);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15%;
	-webkit-box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
	-moz-box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
	box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
} 

nav#header h1#title {
	margin: 0;
	font-size: 1.3em;
}

nav#header div.right-side {
	position: relative;
	align-self: flex-end;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	width: auto;
	color: rgb(96,132,167);
}

nav#header span.nav {
	display: inline-block;
	height: 100%;

}

div.right-side button.nav-button {
	background-color: transparent;
	border: 0;
	color: inherit;
	height: 100%;
}

div.right-side button.nav-button:hover {
	color: #425d77;
	font-size: 1.2em;
}

div.right-side button.nav-button:focus {
	outline: 0;
}

div.right-side div#search-box.noshow {
  visibility: hidden;
	height: 0;
}

div.right-side div#search-box {
		visibility: visible;
    position: absolute;
    top: 51px;
    left: 40%;
    height: 50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    border: 1px solid rgba(52,73,94, 0.5);
    border-top: 0;
    -webkit-box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
		-moz-box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
		box-shadow: 0px 2px 7px -3px  rgb(52,73,94);
		-webkit-transition: height 0.25s, visibility 0.25s;
	  transition: height 0.25s, visibility 0.25s;
}

div.right-side div#search-box input#search-field {
    height: 40%;
    display: inline-block;
    margin-left: 5%;

}

.flipped {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

div#graph-container {
	width: 70%;
	height: 100%;
	background-color: #fff;
}