html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background-color: #9b59b6;
}

main#content {
	background: linear-gradient(to left, rgba(155,89,182,1) 0%,rgba(181,104,212,1) 50%,rgba(155,89,182,1) 100%);
	height: 100%;
	width: 70%;
	margin-left: 15%;
}

header {
	width: 100%;
	display: flex;
	flex-flow: column;
	/*justify-content: center;*/
	align-content: center;
}

header h1#title {
	margin-top: 0;
}

.flipped {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}